<mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
        <span><img class="logo-img" src="./assets/logo-img.png" alt="logo"></span>
        <span class="spacer"></span>
        <!-- <span class="logout"> -->
            <button (click)="logoutprocess()" mat-raised-button  class="logout-button">LogOut<mat-icon>logout</mat-icon></button>
            
        <!-- </span> -->
    </mat-toolbar-row>
</mat-toolbar>
<!-- <button mat-raised-button color="primary" (click)="openForm()" class="add-button">Add Data</button> -->